/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    background-image: url(images/dave\ wallpaper.webp);background-size: cover;
}

html,
body {
    height: 100%;
    min-height: 100%;
}


video {
    max-inline-size: 100%;
    block-size: inherit;
    aspect-ratio: 10/1;
    object-fit: cover;
}

#wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 2560px;
    margin: 0 auto;
    overflow: hidden;
    min-height: 550px;
}

header {
    position: absolute;
    width: 100%;
    height: fit-content;
    top: 3rem;
    left: 0;
    z-index: 3;
    display: flex;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.2s ease;
}
.fa-star{color: gold;}



footer  {
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
    z-index: 3;
    color: rgba(255, 255, 255, 0.6);
    font-family: Teko;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    line-height: 100%;
    
}
main {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 2560px;
}

main .video {
    /* position: relative; */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url(https://lwi.nexon.com/mintrocket/daveTheDiver/backgroundImage.png) center top;
    background-size: cover;
    
}


.nav-link {
    color: rgb(255, 208, 45) !important;font-size: 30px !important;font-weight: bolder;}

.dropdown-item{color: black !important;font-size: 30px !important; font-weight: bolder;text-align: center;}



.logo-diver {
    display: block;
    width: 200px;
    height: 100px;
    background: url(https://lwi.nexon.com/mintrocket/daveTheDiver/dtd_logo.png) no-repeat;
    background-size: contain;
    font-size: 0px;
    transition: all 0.2s ease;
    
}

/*  phone css phone css phone css phone css phone css phone css phone css phone css phone css */
/*  phone css phone css phone css phone css phone css phone css phone css phone css phone css */
/*  phone css phone css phone css phone css phone css phone css phone css phone css phone css */
/*  phone css phone css phone css phone css phone css phone css phone css phone css phone css */
/*  phone css phone css phone css phone css phone css phone css phone css phone css phone css */

.phone-container{display: none;}


  .phone-container{
    position: fixed; 
    left: 100px; 
    bottom:70px; 
    font-size: 60px;
    background-color: rgb(46, 57, 71) ;
    /* padding: 300px 170px; */
    width: 345px;
    height: 600px;
    border-radius: 30px;

    box-shadow: 0 0 0.1em 0.25em hsl(var(--c-h), 20%, 25%), 0 0 0 var(--border-width) hsl(var(--c-h), 30%, 85%);
    border: 3px solid rgb(0, 0, 0,0.5);
}
.phone-screen{
    position: relative; 
    
    margin: 18px 10px;
    font-size: 60px;
    background-image: url(images/dave\ wallpaper.webp);background-size: cover;
    
    width: 320px;
    height: 560px;
    border-radius: 30px;
    overflow: hidden;
    border: 2px solid black;
}

#phone_top_bar{
    width: 100%;
    height: 25px;
    background-color: rgb(142, 142, 147,0.2);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0,0.8);    
}

.appbutton{
    width: 60px;
    height:60px;
    
    background-color: #ddd;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
  }

#photo_button{top: 60px;left: 8px;}
#twitter_app{top: 60px;left: 88px;}
#steam_app{top: 60px;left: 168px;}
#youtube_app{top: 60px;left: 248px;}
#nintendo_app{top: 150px;left: 8px;}
#discord_app{top: 150px;left: 88px;}
#fish_app_01_icon{top: 150px;left: 168px;}
#fish_app_02_icon{top: 150px;left: 248px;}
#fish_app_03_icon{top: 240px;left: 8px;}
#m_Onestar_app{top: 240px;left: 88px;background-color:orange;border: 3px solid orange;}
#m_Twostar_app{top: 240px;left: 168px;background-color:orange;border: 3px solid orange;}
#m_Threestar_app{top: 240px;left: 248px;background-color:orange;border: 3px solid orange;}




#onestarSushi,#twostarSushi,#threestarSushi{display: block;width: 55px;}



#photo_button_name{position: absolute; font-size: 16px;font-weight: bold;left: 20px; top: 120px; }
#twitter_name{position: absolute; font-size: 16px;font-weight: bold;left: 90px; top: 120px; }
#steam_name{position: absolute; font-size: 16px;font-weight: bold;left: 173px; top: 120px; }
#youtube_name{position: absolute; font-size: 16px;font-weight: bold;left: 246px; top: 120px; }
#nintendo_name{position: absolute; font-size: 16px;font-weight: bold;left: 5px; top: 210px; }
#discord_name{position: absolute; font-size: 16px;font-weight: bold;left: 88px; top: 210px; }
#fish_app_01_icon_name{position: absolute; font-size: 16px;font-weight: bold;left: 173px; top: 210px; }
#fish_app_02_icon_name{position: absolute; font-size: 16px;font-weight: bold;left: 253px; top: 210px; }
#fish_app_03_icon_name{position: absolute; font-size: 16px;font-weight: bold;left: 13px; top: 300px; }
#m_Onestar_app_name{position: absolute; font-size: 16px;font-weight: bold;left: 80px; top: 300px; }
#m_Twostar_app_name{position: absolute; font-size: 16px;font-weight: bold;left: 160px; top: 300px; }
#m_Threestar_app_name{position: absolute; font-size: 16px;font-weight: bold;left: 240px; top: 300px; }

.appbutton>a>div{font-size: 45px; margin-top: -3px; margin-left:7px;}

#gallery{font-size: 45px; margin-left: 8px;color: #06c755;}

#fixed_yt{margin-left: 4.5px;}
#fixed_st{margin-left: 9px;}
#fixed_gm{margin-left: 1.6px;font-size: 45px;}
#fixed_dc{margin-left: 2.3px;font-size: 43px;margin-top: 1px;}
#fixed_fish01,#fixed_fish02,#fixed_fish03{font-size: 45px;margin-left: 4.5px;color: rgba(128, 128, 128, 0.719);}
/* .fa-fish{font-size: 45px;margin-left: 4px;color: blue;} */

#twitter_color{color:  #000000;}
#steam_color{color: rgb(27, 40, 56);}
#yt_color{color: #FF0000;}
#gm_color{color: rgb(96, 192, 252);}
#dc_color{color: rgb(114, 137, 217);}




.phonetrigger{
    position: absolute;
    font-size: 80px;
    background-color: transparent;
    border: none;
    right: 100px;
    bottom: 120px;
    color:#4267B2;
    border: 3px solid #4267B2;
    padding: 0px 15.5px;
}
#phonetriggerclose{
    color: red;
    border:3px solid red;
    padding-left:25px ;
    padding-right:25px ;
    right: 100px;
    bottom: 120px;
    display: none;
}
















/* big phone screen  big phone screen   big phone screen   big phone screen   big phone screen   big phone screen */
/* big phone screen  big phone screen   big phone screen   big phone screen   big phone screen   big phone screen */
/* big phone screen  big phone screen   big phone screen   big phone screen   big phone screen   big phone screen */
/* big phone screen  big phone screen   big phone screen   big phone screen   big phone screen   big phone screen */
/* big phone screen  big phone screen   big phone screen   big phone screen   big phone screen   big phone screen */

.bg-phone-sc-container{
    display: none;
    /* display: flex   ; */
    align-items: end;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(128, 128, 128, 0.3);
}

.bg-phone{
    width: 1300px;
    height: 85%;
    background-color: rgb(46, 57, 71);
    position: fixed;
    border-radius: 120px 120px 0 0;
    border: 3px solid rgb(0, 0, 0,0.5);  
    /* display: flex; */
   

}


#close_trigger_2{
    /* right: 160px;
    bottom:80px;
    position: absolute; */
    width: 100px;
    height: 100px;
    font-size: 60px;
    position: sticky;
    top: 60px;
    border-radius: 100%;
    margin-left: auto;
    display: block;
    border: 2px solid black;
    
}

.bg-phone-sc{
    width: 1200px;
    height: 100%;
    /* background-color: lightblue; */
    background-image: url(images/dave\ wallpaper.webp);background-size: cover;
    position: absolute;
    top: 50px;
    left:45px;
    border-radius: 120px 120px 0 0;
    border: 3px solid rgb(0, 0, 0,0.5); 
    /* overflow: hidden; */
    overflow-y: scroll;
}


/* 滾輪改為0px  >>> 不想顯示 */
::-webkit-scrollbar {
    width: 0px;
  }


#bg-phone_top_bar{
    width: 100%;
    height: 100px;
    background-color: rgb(142, 142, 147,0.2);
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    color: rgb(0, 0, 0,0.8);   border-radius: 120px 120px 0 0; 
}


/* APP 開關ID  APP 開關ID  APP 開關ID  APP 開關ID  APP 開關ID  APP 開關ID  APP 開關ID */
#fish_app_01{display: none;}
#fish_app_02{display: none;}




/* 魚0~130M APP LIST  魚0~130M APP LIST  魚0~130M APP LIST  魚0~130M APP LIST  魚0~130M APP LIST*/
/* 魚0~130M APP LIST  魚0~130M APP LIST  魚0~130M APP LIST  魚0~130M APP LIST  魚0~130M APP LIST*/
/* 魚0~130M APP LIST  魚0~130M APP LIST  魚0~130M APP LIST  魚0~130M APP LIST  魚0~130M APP LIST*/

.fish_app_list01,.fish_app_list02,.fish_app_list03{display: block;margin:auto;margin-top: 17.5px;margin-bottom: 100px;}
.container p{
    font-size: 25px;
    text-align: justify;
}



/* TRY */
#close_trigger{
    right: 0;
    top: 10%;
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 40px;
    border: 2   px solid black;
    display: none;
}

.fishList{
    display: none;
    background-color: blue;
    position: sticky;
    height: 800px;
    width: 1100px;
    bottom: 0px;    
    left: 40px;
    border-radius: 90px;
    /* padding-top: 2rem;
    padding-left: 1rem; */
    /* background-color: transparent; */
    flex-direction: row;
}

.fish_title{
    list-style: none;
    line-height: 2em;
    font-size: 30px;
    letter-spacing: 3px;
    
}
.fish_grids{
    height: 350px;
    display: flex;
    align-items: center;
    justify-items: center;
}
/* .fish_image{
   min-height: 350px;
} */

.fish_block{
    height: 400px;
}

#fish_info{
    font-size: 30px ;
    text-align: justify;
}






















/* 關於我們 */
/* .container{
    
} */
.about_absolute{
    position: absolute ;
    background-color: white;
    opacity: 70%;
    top: 45%;
    left: 50%;
    display:flex !important;
    transform: translate(-50%, -50%);
    
    
    
}
.container p{
    font-size: 25px;
    text-align: justify;
}

