/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    background-image: url(images/dave\ wallpaper.webp);background-size: cover;
}

html,
body {
    height: 100%;
    min-height: 100%;
}


video {
    max-inline-size: 100%;
    block-size: inherit;
    aspect-ratio: 10/1;
    object-fit: cover;
}

#wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 2560px;
    margin: 0 auto;
    overflow: hidden;
    min-height: 550px;
}

header {
    position: absolute;
    width: 100%;
    height: fit-content;
    top: 3rem;
    left: 0;
    z-index: 3;
    display: flex;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.2s ease;
}

/* footer {
    position: fixed;
    width: 100%;
    height: 48px;
    bottom: 0;
    left: 0;
    z-index: 3;
    color: rgba(255, 255, 255, 0.6);
    font-family: Teko;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    line-height: 100%;
} */

footer  {
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
    z-index: 3;
    color: rgba(255, 255, 255, 0.6);
    font-family: Teko;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    line-height: 100%;
    
}
main {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 2560px;
}

main .video {
    /* position: relative; */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url(https://lwi.nexon.com/mintrocket/daveTheDiver/backgroundImage.png) center top;
    background-size: cover;
    
}


.navbar a {
    color: rgb(255, 208, 45) !important;
    font-size: 30px !important;
    font-weight: bolder;

}


#dropdown-item-1,
#dropdown-item-2 {
    color: black !important;
}

.logo-diver {
    display: block;
    width: 200px;
    height: 100px;
    background: url(https://lwi.nexon.com/mintrocket/daveTheDiver/dtd_logo.png) no-repeat;
    background-size: contain;
    font-size: 0px;
    transition: all 0.2s ease;
    
}

/*  phone css phone css phone css phone css phone css phone css phone css phone css phone css */
/*  phone css phone css phone css phone css phone css phone css phone css phone css phone css */
/*  phone css phone css phone css phone css phone css phone css phone css phone css phone css */
/*  phone css phone css phone css phone css phone css phone css phone css phone css phone css */
/*  phone css phone css phone css phone css phone css phone css phone css phone css phone css */

.phone-container{display: flex;}
/* .phone-container{
    position: absolute; 
    left: 6rem; 
    bottom:3rem; 
    font-size: 60px;
    background-color: yellow;
    padding: 16rem 9rem;
    border-radius: 30px;
    display: none;
    box-shadow: 0 0 0.1em 0.25em hsl(var(--c-h), 20%, 25%), 0 0 0 var(--border-width) hsl(var(--c-h), 30%, 85%);
}
.phone-screen{
    position: absolute; 
    left: 0.14em;; 
    bottom:0.2em; 
    font-size: 60px;
    background-color: black;
    padding: 15.2rem 8.5rem;
    border-radius: 30px;
}

.appbutton{
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
  } */

  .phone-container{
    position: absolute; 
    left: 100px; 
    bottom:70px; 
    font-size: 60px;
    background-color: yellow;
    padding: 300px 170px;
    border-radius: 30px;
    /* display: none; */
    box-shadow: 0 0 0.1em 0.25em hsl(var(--c-h), 20%, 25%), 0 0 0 var(--border-width) hsl(var(--c-h), 30%, 85%);
}
.phone-screen{
    position: absolute; 
    left: 10px; 
    bottom:18px; 
    font-size: 60px;
    background-color: black;
    padding: 280px 160px;
    border-radius: 30px;
}

.appbutton{
    width: 60px;
    height: 60px;
    top: 40px;
    left: 25px;
    background-color: #ddd;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
  }
  
.phonetrigger{
    position: absolute;
    font-size: 80px;
    background-color: transparent;
    border: none;
    right: 8rem;
    bottom: 8rem;
    color:#4267B2;
    border: 3px solid #4267B2;
    padding: 0px 20px;
}



/* .phone {
    box-shadow: 0 0 0.1em 0.25em hsl(var(--c-h), 20%, 25%), 0 0 0 var(--border-width) hsl(var(--c-h), 30%, 85%);
} */









/* 關於我們 */
/* .container{
    
} */
.about_absolute{
    position: absolute ;
    background-color: white;
    opacity: 70%;
    top: 45%;
    left: 50%;
    display:flex !important;
    transform: translate(-50%, -50%);
    
    
    
}
.container p{
    font-size: 25px;
    text-align: justify;
}

/* ~~~~~~~關於大夫 CSS ~~~~~~~~~ */

